{{>main}}
    {{#*inline "content"}}
        <body>
        <div class="container-reg-sign">
            <h1>Sign up here</h1>
            <form method="POST" action="/register-user">
                <div>
                    <label for="userName">User Name</label>
                    <input type="text" name="username" placeholder="Enter your user name">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" placeholder="Enter your email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter your password">
                </div>
                <div>
                    <label for="password">Password Confirmation</label>
                    <input type="password" name="password-confirmation" placeholder="Confirm your password">
                </div>
                <div>
                    <input type="submit" value="register">
                </div>
            </form>
        </div>
        </body>
    {{/inline}}
{{/main}}
